@model MvcApplication1.Models.RecipesBookController
<div id="loginbar2">
    <div class="center">
        <div id="loginctrl3">
            <fieldset>
               <legend> Recipes Book </legend>
             <a href="@Url.Content("~/account/Potato")">Potato and eggplant soup for diet</a>
                                    <img src="~/Content/imges/imag1.jpg"  width="550px" height="550px "/>

                        <p class="line">------------------------------------------------------------------------------------------------------</p>

                <a href="@Url.Content("~/account/Boiled")">Boiled carrot salad for a perfect diet</a>
             <img src="~/Content/imges/image2.jpg" width="550px" height="550px" />

                        <p class="line">------------------------------------------------------------------------------------------------------</p>

                 <a href="@Url.Content("~/account/Grilledfish")">Grilled fish with lemon for diet</a>
              <img src="~/Content/imges/imag3.jpg" width="550px" height="550px"/>
                        <p class="line">------------------------------------------------------------------------------------------------------</p>

                <a href="@Url.Content("~/account/Beef")">Beef fajita for diet with fewer calories</a>
            <img src="~/Content/imges/imag4.jpg" width="550px" height="550px"/>
                        <p class="line">------------------------------------------------------------------------------------------------------</p>

             <a href="@Url.Content("~/account/Grilledchicken")">Grilled chicken with lemon dressing and herbs for diet</a>
            <img src="~/Content/imges/imag5.jpg" width="550px" height="550px"/>
                        <p class="line">------------------------------------------------------------------------------------------------------</p>

                <a href="@Url.Content("~/account/Chinese")">Chinese pumpkin dumplings with lower calories</a>
            <img src="~/Content/imges/imag6.jpg" width="550px" height="550px"/>
                        <p class="line">------------------------------------------------------------------------------------------------------</p>

             <a href="@Url.Content("~/account/Bulgurtomato")">Bulgur tomato salad for diet</a>
            <img src="~/Content/imges/imag7.jpg" width="550px" height="550px"/>
                        <p class="line">------------------------------------------------------------------------------------------------------</p>

                <a href="@Url.Content("~/account/Grilledchickenlemon")">Grilled chicken with lemon dressing and herbs for diet</a>
                  <img src="~/Content/imges/imag8.jpg" width="550px" height="550px"/>

                        <p class="line">------------------------------------------------------------------------------------------------------</p>

             <a href="@Url.Content("~/account/BroccoliLight")">Broccoli Light Soup for Diet </a>
            <img src="~/Content/imges/imag9.jpg" width="550px" height="550px"/>
                        <p class="line">------------------------------------------------------------------------------------------------------</p>

                <a href="@Url.Content("~/account/crisppancake")">A crisp pancake with cherry low-calorie </a>
                       <img src="~/Content/imges/imag10.jpg" width="550px" height="550px"/>
                        <p class="line">------------------------------------------------------------------------------------------------------</p>

             <a href="@Url.Content("~/account/Asparagus")">Asparagus pasta for diet</a>
            <img src="~/Content/imges/imag11.jpg" width="550px" height="550px"/>
                        <p class="line">------------------------------------------------------------------------------------------------------</p>

                <a href="@Url.Content("~/account/>Chickenhot")">>Chicken with hot pepper for diet</a>
                  <img src="~/Content/imges/imag12.jpg" width="550px" height="550px"/>
                        <p class="line">------------------------------------------------------------------------------------------------------</p>

             <a href="@Url.Content("~/account/Mushroomchicken")">Mushroom chicken for a balanced diet</a>
                       <img src="~/Content/imges/imag13.jpg" width="550px" height="550px"/>
                        <p class="line">------------------------------------------------------------------------------------------------------</p>

                <a href="@Url.Content("~/account/Indiansamosa")">Indian  samosa</a>
                   <img src="~/Content/imges/imag14.jpg" width="550px" height="550px"/>
            <p class="line">------------------------------------------------------------------------------------------------------</p>

             <a href="@Url.Content("~/account/Marinatedchicken")">Marinated chicken steak</a>
                      <img src="~/Content/imges/imag15.jpg" width="550px" height="550px"/>
                      </fieldset>  

        </div>
    </div>
</div>



   